body {
  font-size: 16px;
  margin: 0;
  padding: 20px;
}

.led-functionality-container {
  display: block;
  margin: 30px;
}

.btn-container {
  margin: 30px 0;
}

.btn {
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  margin: 0 10px;
  background-color: white;
  outline: none;
}

.led-on-btn {
  margin: 0;
  color: green;
}

.led-off-btn {
  color: orangered;
}

.result-text {
  font-family: monospace;
  font-size: 14px;
}

.stdout {
  color: green;
}

.error {
  color: orangered;
}

.stderr {
  color: orangered;
}
